Servidor/data/accounts
Servidor/data/animations
Servidor/data/conversas
Servidor/data/conversation
Servidor/data/iplogs
Servidor/data/items
Servidor/data/logs
Servidor/data/mappokemon
Servidor/data/maps
Servidor/data/moves
Servidor/data/npcs
Servidor/data/pokemons
Servidor/data/quest
Servidor/data/shop